<!DOCTYPE html>
<html lang="en" ng-app="teoriagiochi" xmlns="http://www.w3.org/1999/html">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Simulatore di gioco</title>

    <link rel="stylesheet" href="assets/vendors/iconfonts/mdi/css/materialdesignicons.css">

    <link rel="stylesheet" href="assets/css/shared/style.css">

    <link rel="stylesheet" href="assets/css/demo_1/style.css">

    <link rel="shortcut icon" href="assets/images/favicon.ico" />
  </head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.js"></script>
  <script src="assets/js/main.js"></script>
  <body class="header-fixed" ng-controller="matrixcontroller" >
    <!-- partial:partials/_header.html -->
    <nav class="t-header">

      <div class="t-header-content-wrapper">
          <div style="padding-top: 15px">
            <p class="mb-4 display-2">Simulatore di gioco</p>
          </div>
      </div>
    </nav>
    <!-- partial -->
    <div class="page-body">
      <!-- partial:partials/_sidebar.html -->
      <div class="sidebar" style="width: 0px; max-width: 0px; min-width: 0">

      </div>
      <!-- partial -->
      <div class="page-content-wrapper">
        <div class="page-content-wrapper-inner">
          <div class="content-viewport">
            <div class="row">
              <div style="padding-top:10px; padding-bottom:10px">
                <h4>Breve introduzione</h4>
                <p class="text-gray">Seguire i passi per comprendere il funzionamento del simulatore</p>
              </div>
            </div>
            <div class="row">
                <div class="grid">
                  <div class="grid-body">
                    <h2 class="grid-title">Come funziona?</h2>
                    <div class="item-wrapper">
                      <p>Questo applicativo permette di studiare e simulare i giochi in strategia pura e mista. Scorrendo più in basso è possibile procedere con i vari step per inizializzare la simulazione</p>
                      <br>
                    </div>
                    <div class="item-wrapper">
                        <p  style="margin-bottom: 15px"> <b>OPZIONALE: </b> Inserire nella casella sottostante il codice che identifica il gioco per caricare automaticamente i suoi dati</p>

                            <div class="d-flex col-md-9 showcase_content_area">
                              <input style="width: 200px" type="text" class="form-control" id="code" placeholder="Inserisci il codice qui">
                            </div>
                            <div class="d-flex flex-row mt-4 mb-4">
                                <button style="max-width: 160px" class="btn btn-primary w-50 ml-2" type="button" ng-click="this[loadDataB64]()">CARICA</button>
                            </div>


                        <p class="text-muted">
                        <b>Nota bene:</b> l'applicazione non è studiata per essere usata commercialmente, perciò usarla non seguendo le linee guida potrebbe portare a risultati inaspettati
                      </p>
                    </div>
                  </div>
                </div>
            </div>

            <div class="row">
                <div style="padding-top:10px; padding-bottom:10px">
                <h4>Parametri del gioco</h4>
                <p class="text-gray">Impostare il numero delle strategie e la matrice di costo</p>
                </div>
            </div>
            <div>
            <div class="row" >

                <div class="col-lg-4 col-md-6 equel-grid" style="height:100%;">
                <div class="grid">
                  <div class="grid-body">

                    <div class="d-flex align-items-end mt-2">
                      <h3>Numero strategie </h3>

                    </div>

                    <div style="margin-top:30px; margin-bottom: 20px">
                    <div class="d-flex mt-2" >
                        <p class="ml-1 font-weight-bold">Giocatore 1</p>
                        <select id = "strat1" class="custom-select" style="width:50%; margin:auto;">
                                <option value="0" selected class="text-gray"><i>Nessuno</i></option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                        </select>
                    </div>
                    </div>
                    <div class="d-flex mt-2">
                        <p class="ml-1 font-weight-bold">Giocatore 2</p>
                        <select id = "strat2" class="custom-select" style="width:50%; margin:auto;">
                                <option value="0" selected class="text-gray"><i>Nessuno</i></option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                        </select>
                    </div>

                    <br>
                    <div class="d-flex flex-row mt-4 mb-4">
                      <button class="btn btn-primary w-50 ml-2" type="button" ng-click="this[saveFunction]()">SALVA</button>
                    </div>

                  </div>
                </div>
              </div>
              <div class="col-md-8 equel-grid" >
                <div class="grid widget-revenue-card">
                  <div class="grid-body d-flex flex-column h-100">

                        <div class="d-flex mt-2" style="justify-content: center; align-items: center">
                            <h3 style="">Matrice di costo</h3>

                        </div>
                       <div  style="margin: 0">
                        <div class="grid-body">
                        <div class="item-wrapper">
                        <div style="text-align: center">
                            <div style="display: flex; justify-content: center; align-items: center">
                                <style>
                                .rotation-wrapper-outer {
                                  display: table;
                                  max-width:15px;
                                }
                                .rotation-wrapper-inner {
                                  padding: 0 0;
                                  height: 0;
                                  width: 15px;
                                  max-width:15px;

                                }
                                .element-to-rotate {
                                  display: block;
                                  transform-origin: top left;
                                  /* Note: for a CLOCKWISE rotation, use the commented-out
                                     transform instead of this one. */
                                  transform: rotate(-90deg) translate(-900%, 20%);
                                  /* transform: rotate(90deg) translate(0, -100%); */
                                  margin-top: -50%;

                                  /* Not vital, but possibly a good idea if the element you're rotating contains
                                     text and you want a single long vertical line of text and the pre-rotation
                                     width of your element is small enough that the text wraps: */
                                  white-space: nowrap;
                                  max-width:15px;

                                }
                              </style>

                                <div style="display:flex; min-height: 180px">
                                    <table class="table info-table table-bordered" ng-if="strat_player1 > 0 && strat_player2 > 0" style="height:100%; border: 0">
                                        <tr>
                                            <td style="width:32px; height:32px; border: 0"></td>
                                         </tr>
                                        <tr style="height: max-content; border: 0">
                                            <td rowspan = "[[ strat_player1 + 1 ]]" style="padding:1px; width: 35px; height:max-content; border: 0">
                                                    <div id="container">
                                                      <div class="rotation-wrapper-outer">
                                                        <div class="rotation-wrapper-inner">
                                                          <label class="element-to-rotate">Giocatore 1</label>
                                                        </div>
                                                      </div>
                                                    </div>
                                            </td>
                                        </tr>
                            </table>
                            </div>
                            <div style="float:left; margin-left: 8px; min-width: 120px; min-height: 180px">
                                <table class="table info-table table-bordered" ng-if="strat_player1 > 0 && strat_player2 > 0" style="height: 100%; border: 0;">

                                     <tr>
                                        <td colspan="[[ strat_player2 + 1]]" style="text-align:center; padding: 5px; border: 0;">Giocatore 2</td>
                                     </tr>
                                    <tr>
                                        <td style="border: 0"></td>
                                        <td ng-repeat="x in [].constructor(strat_player2) track by $index"
                                            style="color:white; text-align: center; background-color: #4CCEAC; height:32px; max-height: 32px; padding:5px">
                                            <div id="strat2-[[ $index+ 1 ]]" contenteditable>str#[[ $index + 1 ]]</div></td>
                                    </tr>
                                    <tr ng-repeat="(y, category) in [].constructor(strat_player1) track by $index"; style="height:32px; max-height: 32px; ">
                                        <td style="color: white; background-color: #857BFF; padding:5px; height:32px; max-height: 32px;
                                        width: 32px; text-align: center"><div id="strat1-[[ $index+ 1 ]]" contenteditable>str#[[ $index + 1]]</div></td>
                                        <td ng-repeat="(x, category) in [].constructor(strat_player2) track by $index" style="text-align: center; width:32px; padding:5px">
                                            <div id="C[[y + 1]][[x + 1]]"contenteditable></div>
                                        </td>
                                    </tr>
                                    <!--<tr >
                                        <td rowspan="2"  class="rotate">TEST 2</td>
                                        <td>TEXT</td>
                                    </tr>
                                    <tr>
                                        <td>TEXT</td>
                                    </tr> -->
                                </table>
                            </div>
                            </div>
                      </div>
                    </div>
                  </div>
                </div>

                       <p class="text-muted">
                        <b>Suggerimento:</b> le celle sono editabili. Usando il tasto <b>TAB</b> è possibile scorrere tra le celle senza dover usare il cursore. La scrittura di numeri in <b>frazioni</b> è supportata.
                        </p>

                  </div>
                </div>
              </div>

                <div>

                </div>

            </div>

             <div class="row" style="width: 100%; min-width: 100%; display: flex; margin-left: 1px;   ">
                <div class="grid" style="width: 100%; min-width: 100%; display: flex; background-image: linear-gradient(to bottom right, rgb(29,72,141), rgb(96,201,205));">
                  <div class="grid-body" style="width: 100%; min-width: 100%; display: flex">
                    <div class="item-wrapper" style="width: 100%; min-width: 100%; display: flex; justify-content: center; align-items: center">

                                    <button class="btn btn-success w-50 ml-2" type="button" ng-click="this[passDataToBackend]()"
                                        style="min-width: 144px; max-width: 150px; display: flex; justify-content: center;" >PROCEDI</button>

                                    <p  style="display: flex; justify-content: center; margin-left: 60px; color:white">Codice di questo gioco:
                                        <textarea onClick="this.select();" readonly id="generated_code"rows="1" cols="10" placeholder=""
                                  style="display: flex; justify-content: center; border-radius: 3px; overflow:hidden; color: whitesmoke; background-color: rgba(255,255,255,0.25); border-color: rgba(43,51,249,0); height: 70%; margin-left: 8px; margin-right: 4px" value=" Nessuno"> Nessuno</textarea></p>


                    </div>
                  </div>
                </div>

            </div>
            </div>
         <div ng-show="loaded">
            <div  class="row">
                <div style="padding-top:10px; padding-bottom:10px">
                <h4>Analisi e simulazione</h4>
                <p class="text-gray">Visualizzare l'analisi del gioco e una sua simulazione</p>
                </div>
            </div>
             <div class="row">
                <div class="col-md-8 equel-grid">
                <div class="grid">
                  <div class="grid-body py-3" style="margin-bottom: 20px">
                    <p class="card-title ml-n1">Simulazione</p>
                       <div class="btn btn-primary btn-rounded" ng-click="this[iterate]()"
                            style="margin-right: 15px; margin-left: 15px; margin-bottom: 5px; float: right">Simula
                        <textarea ng-click="$event.stopPropagation()" id="iteration"rows="1" cols="8" placeholder=""
                                  style="text-align: center; border-radius: 3px; overflow:hidden; color: whitesmoke; background-color: rgba(255,255,255,0.25); border-color: rgba(43,51,249,0); height: 70%; margin-left: 4px; margin-right: 4px "></textarea>
                        iterazioni del gioco <i style="" class="mdi mdi-play"></i>
                    </div>
                  </div>
                    <style>
                        .pers-grid{
                            background: #fff;
                            border-radius: 6px;
                            box-shadow: 0 0 10px -5px rgba(183, 192, 206, 0.15);
                            margin-bottom: 15px;
                            border: 1px solid rgba(238, 238, 238, 0);
                            margin-left: 20px;
                            margin-right: 20px;
                        }
                        ::placeholder {
                              color: green;
                              font-size: 1.5em;
                        }
                    </style>
                   <canvas id="chartjs-chart" width="600" height="400"></canvas>


                    <div class="row" style=" display: flex; margin-left: 1px; margin-top: 10px; justify-content: center;">
                        <div class="pers-grid" style=" display: flex; background-image: linear-gradient(to bottom right, rgb(29,72,141), rgb(96,101,205));">
                          <div class="grid-body" style=" display: flex">
                            <div class="item-wrapper" style=" display: flex; justify-content: center; align-items: center">

                                 <label style="color: whitesmoke">Vettore strategie ξ<sub>1</sub></label>

                                <table style="border:1px solid white; text-align: center;margin-left: 20px">
                                     <tr>
                                         <td style="min-width: 32px; background-color: #857BFF; color: whitesmoke" ng-repeat="(x, category) in [].constructor(strat_player1) track by $index" id = "strat_choose_name1-[[x + 1]]">stra#[[ x + 1]]</td>
                                     </tr>
                                    <tr>
                                         <td style="color: whitesmoke" ng-repeat="(x, category) in [].constructor(strat_player1) track by $index"><div id = "strat_choose1-[[x + 1]]" contenteditable></div></td>
                                     </tr>
                                 </table>

                            </div>
                          </div>
                        </div>

                        <div class="pers-grid" style=" display: flex; background-image: linear-gradient(to bottom right, rgb(56,154,128), rgb(76,206,172));">
                          <div class="grid-body" style=" display: flex">
                            <div class="item-wrapper" style=" display: flex; justify-content: center; align-items: center">

                                <label style="color: whitesmoke">Vettore strategie ξ<sub>2</sub></label>

                                 <table style="border:1px solid white; text-align: center; margin-left: 20px">
                                     <tr>
                                         <td style="min-width: 32px; background-color: #4CCEAC; color: whitesmoke" ng-repeat="(x, category) in [].constructor(strat_player2) track by $index" id = "strat_choose_name2-[[x + 1]]">stra#[[ x + 1]]</td>
                                     </tr>
                                     <tr>
                                         <td style="color: whitesmoke" ng-repeat="(x, category) in [].constructor(strat_player2) track by $index"><div id = "strat_choose2-[[x + 1]]"contenteditable></div></td>
                                     </tr>
                                 </table>
                            </div>
                          </div>
                        </div>
                    </div>


                </div>
              </div>
              <div class="col-md-4 equel-grid">
                <div class="grid">
                  <div class="grid-body">
                    <div class="split-header" style="margin-bottom: 20px ">
                      <p class="card-title">Analisi</p>
                    </div>

                      <style>

                          .value-row{
                              padding-top: 7px;
                          }

                          td{
                            text-align: center;
                            padding: 5px;
                            border-right: 1px solid lightgray;
                            border-bottom: 1px solid lightgray;
                          }


                      </style>


                    <table style="width: 100%;">
                        <tr>
                            <td style="width: 1px; border-right: 1px solid gray; border-bottom: 1px solid gray; padding-right: 3px"></td>
                            <td style="padding: 5px; border-bottom: 1px solid gray; text-align: center"><b>Giocatore 1</b></td>
                            <td style="padding: 5px; border-bottom: 1px solid gray; border-right: 0; text-align: center"><b>Giocatore 2</b></td>
                        </tr>
                        <tr style="border-top: 1px solid gray">
                            <td style="text-align: center; border-right: 1px solid gray; border-bottom: 0; padding-right: 3px"><b>Gioco puro</b></td><td style="border-top: 1px solid gray; border-bottom: 0;"></td><td style="border-top: 1px solid gray; border-bottom: 0; border-right: 0"></td>
                        </tr>
                        <tr>
                            <td class="value-row" style="text-align: right; border-right: 1px solid gray; padding-right: 3px">Str. dominante</td><td  id="strat_dom1"></td><td style="border-right: 0;" id="strat_dom2"></td>
                        </tr>
                        <tr>
                            <td class="value-row" style="text-align: right; border-right: 1px solid gray; padding-right: 3px">Str. conservativa </td><td id="strat_cons_pur1"></td><td style="border-right: 0;" id="strat_cons_pur2"></td>
                        </tr>
                        <tr>
                            <td class="value-row" style="text-align: right; border-right: 1px solid gray; padding-right: 3px">C(x*)</td><td id="c_segn_pura1"></td><td style="border-right: 0;" id="c_segn_pura2"></td>
                        </tr>
                        <tr>
                            <td class="value-row" style="text-align: right; border-right: 1px solid gray; border-bottom: 0; padding-right: 3px;">Val. gioco</td><td colspan="2" style="border-right: 0; border-bottom: 0;" id="value_interval"></td>
                        </tr>
                        <tr>
                            <td style="text-align: center; border-right: 1px solid gray; border-bottom: 0; border-top: 1px solid grey;  padding-right: 3px"><b>Gioco misto</b></td><td style="border-right: 0;  border-top: 1px solid grey; border-bottom: 0px"></td><td style="border-right: 0;  border-top: 1px solid grey; border-bottom: 0px"></td>
                        </tr>
                         <tr>
                            <td class="value-row" style="text-align: right; border-right: 1px solid gray; padding-right: 3px">Str. conservativa </td>
                             <td style="border-right:0">
                                    <table style=" margin-left: auto; margin-right: auto; padding-bottom: 10px">
                                         <tr ng-repeat="(y, category) in [].constructor(strat_player1 - 1) track by $index">
                                                <td  id="strat_cons_mist_name1-[[ $index+ 1 ]]">stra#[[ $index + 1]]</td>
                                                <td  style="border-right: 0" id="strat_cons_mist1-[[ $index + 1 ]]"></td>
                                         </tr>
                                         <tr>
                                                <td  style="border-bottom: 0" id="strat_cons_mist_name1-[[ strat_player1 ]]">stra#[[ $index + 1]]</td>
                                                <td  style="border-right: 0; border-bottom: 0" id="strat_cons_mist1-[[ strat_player1 ]]"></td>
                                         </tr>
                                    </table>
                            </td>

                            <td style="border-right: 0; padding-bottom: 10px">
                                <table style=" margin-left: auto; margin-right: auto;">
                                 <tr ng-repeat="(x, category) in [].constructor(strat_player2 - 1) track by $index">
                                        <td id="strat_cons_mist_name2-[[ $index+ 1 ]]">stra#[[ $index + 1]]</td>
                                        <td style="border-right: 0" id="strat_cons_mist2-[[ $index+ 1 ]]"></td>
                                 </tr>
                                    <tr>
                                        <td style="border-bottom: 0" id="strat_cons_mist_name2-[[ strat_player2 ]]">stra#[[ $index + 1]]</td>
                                        <td style="border-right: 0; border-bottom: 0" id="strat_cons_mist2-[[ strat_player2 ]]"></td>
                                 </tr>
                                </table>
                             </td>

                        </tr>
                        <tr>
                            <td class="value-row" style="text-align: right; border-right: 1px solid gray; border-bottom: 0; padding-right: 3px">Val. gioco</td><td style="border-right: 0; border-bottom: 0" colspan="2" id="c_segn_misto1"></td>
                        </tr>
                        <tr>
                            <td style="text-align: center; border-right: 1px solid gray; border-bottom: 0; border-top: 1px solid grey;  padding-right: 3px"><b>Strategia</b></td><td style="border-right: 0;  border-top: 1px solid grey; border-bottom: 0px"></td><td style="border-right: 0;  border-top: 1px solid grey; border-bottom: 0px"></td>
                        </tr>
                        <tr>
                            <td class="value-row" style="text-align: right; border-right: 1px solid gray; padding-right: 3px">Val. atteso<br>(ξ<sub>1</sub>C<sub>1</sub>ξ<sub>2</sub><sup>T</sup>)</td><td style="border-right: 0; " colspan="2" id="eCe"></td>
                        </tr>
                        <tr>
                            <td class="value-row" style="text-align: right; border-right: 1px solid gray;border-bottom: 0; padding-right: 3px">Val. atteso <br> simulazione <br>(C<sub>tot</sub>/#iterazioni)</td><td style="border-right: 0; border-bottom: 0" colspan="2" id="simulation_value"></td>
                        </tr>
                    </table>


                  </div>

                </div>
              </div>

        </div>
        </div>
        <!-- content viewport ends -->
        <!-- partial:partials/_footer.html -->
        <footer class="footer">
          <div class="row">
            <div class="col-sm-6 text-center text-sm-right order-sm-1">
              <ul class="text-gray">

              </ul>
            </div>
            <div class="col-sm-6 text-center text-sm-left mt-3 mt-sm-0">
              <small class="text-gray mt-2">Sviluppato da Andrea Paci</i></small>
            </div>
          </div>
        </footer>
        <!-- partial -->
      </div>
      <!-- page content ends -->
    </div>
      </div>
    </div>
    <!--page body ends -->
    <!-- SCRIPT LOADING START FORM HERE /////////////-->
    <!-- plugins:js -->
    <script src="assets/vendors/js/core.js"></script>
    <!-- endinject -->
    <!-- Vendor Js For This Page Ends-->
    <script src="assets/vendors/apexcharts/apexcharts.min.js"></script>
    <script src="assets/vendors/chartjs/Chart.min.js"></script>
    <script src="assets/js/charts/chartjs.addon.js"></script>
    <script src="assets/js/charts/chartjs-plugin-downsample.js"></script>
    <!-- Vendor Js For This Page Ends-->
    <!-- build:js -->
    <script src="assets/js/charts/chartjs.js"></script>
    <!-- Vendor Js For This Page Ends-->
    <!-- build:js -->
    <script src="assets/js/template.js"></script>
    <script src="assets/js/dashboard.js"></script>
    <!-- endbuild -->
  </body>
</html>